<html>
<body>
<h2>Add Product</h2><a href="/product/manage_product">Manage Product</a>
<form action="/action_page.php">
  Sku No.:<br>
  <input type="text" name="sku_no" value="">
  <br>
  Product Name:<br>
  <input type="text" name="productname" value="">
  <br>
  Price:<br>
  <input type="text" name="price" value="">
  <br><br>
  <input type="submit" value="Submit">
</form> 
</body>
</html>
