<table border='1' >
<b align="center">Product List</b>
<thead>
<tr>
		
	   <th>Sku No.</th>
		<th>Product Name</th>
		<th>Product Price</th>
		 <th>Action</th>
</tr>
</thead>

<tbody>

<tr class="gradeC record" >
<th>001</th>
<th>shoes</th>
<th>100</th>
<th>Edit|Delete</th>
</tr>
<?php } ?>
</tbody>

</table>